<!-- Start of Header -->
<header class="intro wrapper">
	<div class="inner">
		<h1>Portfolio</h1>
	</div>
</header>
<!-- End of Header --> 

<!-- Start of Main Content -->
<main class="content wrapper">
	<div class="inner">
		<section id="consumer-projects" class="row">
			<h2>Consumer Product Projects</h2>
			<div class="col-md-6 col-lg-6">
    			<div class="thumbnail">
					<a class="project" href="https://github.com/Gulkinator/idea-feast.git" target="_blank">
						<img class="img-responsive portfolio-img" src="https://cloud.githubusercontent.com/assets/10729186/8634172/da2f797e-27b3-11e5-856c-5b16e2c0f462.png" alt="ideaFeast screen capture">
						<h3 class="caption">Idea-Feast</h3><p class="description">A Simple CRUD application that allows users to submit and "like" ideas. Ideas are then displayed on the home page sorted by number of likes received.  </p><kbd>Sinatra</kbd>  <kbd> Heroku</kbd>  <kbd> PostgreSQL</kbd>  <kbd> Bootstrap</kbd>
					</a>
				</div>
			</div>
        	<div class="col-md-6 col-lg-6">
	        	<div class="thumbnail">
					<a class="project" href="https://github.com/Gulkinator/making-groceries.git" target="_blank"> 
						<img class="img-responsive portfolio-img" src="https://cloud.githubusercontent.com/assets/10729186/8634174/da3709be-27b3-11e5-814f-f31c09f90733.png" alt="Making Groceries screen capture">
						<h3 class="caption">Making Groceries</h3><p class="description">
						A simple CRUD application that allows users to create itemize grocery lists, that can then be distributed via email.</p><kbd>Ruby on Rails</kbd>  <kbd> Heroku</kbd>  <kbd> PostgreSQL</kbd>  <kbd> Bootstrap</kbd>
					</a>
				</div>
			</div>
		</section>
		<section id="enterprise-projects" class="row">
			<h2>Enterprise Product Projects</h2>
			<div class="col-md-6 col-lg-6">
				<div class="thumbnail">
					<a class="project" href="https://github.com/Gulkinator/branding-tool.git" target="_blank"> 
						<img class="img-responsive portfolio-img" src="https://cloud.githubusercontent.com/assets/10729186/8634177/da3b27b0-27b3-11e5-8ea9-ae21c34d4e3d.png" alt="Branding Tool screen capture">
						<h3 class="caption">Branding Tool</h3><p class="description">Embeds a menu of galleries displaying enterprise-branded content into the Microsoft Word UI.  Users insert the content into the document, for rapid branding.</p><kbd>Microsoft Word</kbd>  <kbd>Custom UI Editor</kbd>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="thumbnail">
					<a class="project" href="https://cloud.githubusercontent.com/assets/10729186/8634175/da38335c-27b3-11e5-99d3-fd09c3949327.png" target="_blank"> 
						<img class="img-responsive portfolio-img" src="https://cloud.githubusercontent.com/assets/10729186/8634175/da38335c-27b3-11e5-99d3-fd09c3949327.png" alt="Requests Portal screen capture">
						<h3 class="caption">Requests Portal</h3><p class="description">An enterprise ticketing tools that allows customers to request services and for company team members to update project status.</p><kbd>SharePoint 2013</kbd>  <kbd> Nintex Workflow 2010</kbd>
					</a>
				</div>
			</div>
		</section>
		<section class="row">
			<h2 id="coming-soon">Coming Soon</h2>
			<div class="col-md-6 col-lg-6">
				<div class="thumbnail">
					<a class="project" href="https://github.com/Gulkinator/invox.git" target="_blank"> 
						<img class="img-responsive portfolio-img coming-soon" src="img/icons/flask.svg" alt="flask">
						<h3 class="caption">Invox</h3><p class="description">Simple CRUD application that allows Administrators to create itemize invoices that can then be distributed to users via email.</p><kbd>Ruby on Rails</kbd>  <kbd> Heroku</kbd>  <kbd> PostgreSQL</kbd>  <kbd> Bootstrap</kbd>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="thumbnail">
					<a class="project" href="#consumer-projects"> 
						<img class="img-responsive portfolio-img coming-soon" src="img/icons/flask.svg" alt="flask">
						<h3 class="caption">Policy Portal</h3><p class="description">An enterprise portal where users can view and download corporate policies.  Designated Managers have permission to create, update and remove content.</p><kbd>SharePoint 2013</kbd>  <kbd> Nintex Workflow 2010</kbd>
					</a>
				</div>
			</div>
		</section>
		<section id="about" class="row">
			<h2>About</h2>
			<img class="pull-left img-responsive " src="https://cloud.githubusercontent.com/assets/10729186/8767074/7a065096-2e15-11e5-9d32-05f05df25af3.jpg" alt="Lauren Gulkus">
			<p class="lead">
				Lauren Gulkus lives and works in New Orleans, where she has been learning fullstack, web development over the past few years. This site highlights some projects she has done during that time.
				<br>
				<a class="about-link" href="img/resume-gulkus.pdf?pdf=view" target="_blank">View the resume of Lauren Gulkus</a>
				<br>
				<a class="about-link" href="https://github.com/gulkinator/gulkinator.github.io">View the source code for this site</a>
			</p>
		</section>
	</div>
</main>
<!-- End of Main Content --> 