<!-- Start of Footer -->
<footer class="wrapper">
	<div class="inner" id="social-media">
		<h3>Around the web 
			<span>
				<a href="https://github.com/gulkinator" target="_blank"><i class="fa fa-github fa"></i><span class="sr-only">Github.com</span></a>
				<a href="https://www.linkedin.com/in/gulkus" target="_blank">  <i class="fa fa-linkedin fa"></i><span class="sr-only">LinkedIn.com</span></a>
				<a href="https://twitter.com/Gulkinator" target="_blank">  <i class="fa fa-twitter fa"></i><span class="sr-only">Twitter.com</span></a></span>
		</h3>
			<p class="pull-right"><a href="#">Back to top</a></p>
	</div>
	<div class="clear"></div>
</footer>
<!-- End of Footer -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script async="" src="//www.google-analytics.com/analytics.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Compiled plugins -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Google Analytics -->    
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-65858121-1', 'auto');
	  ga('send', 'pageview');
	</script>

